@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MonaSansExpanded';
  src: url('../assets/font/MonaSans_Expanded-Regular.ttf') format('truetype'),
       url('../assets/font/MonaSans_Expanded-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonaSansMedium';
  src: url('../assets/font/MonaSans-Medium.ttf') format('truetype'),
       url('../assets/font/MonaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --dark: #0f0f0f;
  --white: #ffffee;
  --transparent: #ffffff00;
  --header: #ffffff08;
  --one: #ff69b4;
  --two: #ff914d;
  --three: #ffb347;
  --four: #ffd700;
  --five: #ffcba4;
  --bg-empty: linear-gradient(40deg, #0f0f0f, #1c1c1e);
  --gradient: linear-gradient(90deg, var(--one), var(--two), var(--three), var(--four), var(--five));
  --gradient-animated: linear-gradient(90deg, var(--one), var(--two), var(--three), var(--four), var(--five));
  --one-rgb: 255, 105, 180;
  --two-rgb: 255, 145, 77;
  --three-rgb: 255, 179, 71;
  --four-rgb: 255, 215, 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MonaSansExpanded;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--white);
  background: var(--bg-empty);
  overflow-x: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

